@font-face {
    font-family: "Golos UI";
    src: url("/fonts/GolosUI/Golos-UI_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Golos UI";
    src: url("/fonts/GolosUI/Golos-UI_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Golos UI";
    src: url("/fonts/GolosUI/Golos-UI_Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Golos UI", sans-serif;
    font-weight: 400;
    color: #222222; 
}

* {
    padding: 0;
    margin: 0;
}

p {
    margin-block: 0;
    margin-inline: 0;
}

.container {
    display: flex; 
}

.menu {
    padding: 48px 24px 0;
    max-width: 72px;
    display: flex;
    justify-content: center;
    border-right: 1px rgba(34, 34, 34, 0.05) solid;
    position: fixed;
    flex-direction: column;
}
.menu__list {
    list-style-type: none;
}
.menu__list--item {
    transition: transform 0.3s ease;
    margin-bottom: 35px;
}
.menu__list--item:hover {
    transform: scale(1.2);
}

.menu__list--img {
    width: 24px;
}
.menu__list--link {
    margin-bottom: 16px;
}