.post-container {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post__create {
    width: 474px;
}

.post__header {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 20px 15px 10px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 32px;
    position: relative;
    box-sizing: border-box;
}

.post__header h2 {
    font-size: 18px;
    font-weight: 600;
    order: 1;
    margin: auto;
}

.post__header-close-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
}

.post-content {
    display: flex;
    flex-direction: column;
}

.post-create__images-area {
    min-height: 300px;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F5;
}

.images-area__container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.images-area__slider {
    display: flex;
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
}

.slider__item {
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-area__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.control__btn {
    pointer-events: all;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    transition: background 0.2s;
}

.control__btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

.images-area__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
}

.empty-state__add-photo-btn {
    background-color: #262626;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.post-create__add-more-photos,
.photos__add-more-photos {
    display: flex;
    margin-bottom: 20px;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.add-more-photos__btn {
    color: #0095f6;
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.post-create__text {
    margin-bottom: 16px;
}

.post-create__text textarea {
    width: 100%;
    min-height: 100px;
    border: none;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
}

.post-create__share-btn {
    max-width: 140px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 26px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.post-create__share-btn:disabled {
    background-color: #B4B4B4;
    cursor: default;
}

.images-area__empty-state,
.photos__empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}

.photos__empty-state {
    min-height: 300px;
    aspect-ratio: 1/1;
    gap: 15px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F5;
}

.images-area__empty-state img {
    margin-bottom: 25px;
}

.slider__remove-img {
    position: absolute;
    z-index: 1;
    top: 18px;
    left: 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.lenta-post__photos {
    width: 474px;
}

.hidden {
    display: none;
}