.profilecontainer {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profilecontainer__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.profilecontainer__about_ava {
    width: 123px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.profilecontainer__about_info {
    text-align: center;
}

.info__name {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
}

.info__main {
    font-size: 15px;
    width: 361px;
    text-align: center;
    margin-bottom: 12px;
    line-height: 18px;
}

.profilecontainer__about_posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 101px;
    height: 30px;
    background-color: #F2F3F5;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 6px 10px;
}

.aboutpost__img {
    width: 16px;
}

.aboutpost__count {
    font-size: 15px;
}

.profilecontainer__posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 972px;
}

.profilecontainer__posts_item {
    flex: 1 1 calc(33.333% - 20px);
    position: relative;
    overflow: hidden;
}

.profilecontainer__posts_img {
    max-width: 322px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}