.profilecontainer {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profilecontainer__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}
.profilecontainer__about-ava {
    width: 123px;
    border-radius: 16px;
    margin-bottom: 20px;
}
.profilecontainer__about-info {
    text-align: center;
}
.info__name {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
}
.info__main {
    font-size: 15px;
    width: 361px;
    text-align: center;
    margin-bottom: 12px;
    line-height: 18px;
}
.profilecontainer__about-posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 101px;
    height: 30px;
    background-color: #F2F3F5;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 6px 10px;
}
.aboutpost__img {
    width: 16px;
}
.aboutpost__count {
    font-size: 15px;
}
.profilecontainer__posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 972px;
}

.profilecontainer__posts-item {
    flex: 1 1 calc(33.333% - 20px);
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.profilecontainer__posts-img {
    max-width: 322px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.profilecontainer__posts-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}